.container-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    background-color: var(--background);
}

.card-container {
    width: 19rem;
}

.card-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.card-title__container {
    display: flex;
    align-items: center;
}

.card-title {
    font-size: 28px;
    font-weight: 300;
    margin-left: 1rem;
    padding-bottom: 0.5rem;
    text-transform: capitalize;
    margin: 1rem 0 0 1rem;
}

.card-content {
    position: relative;
}

.card-img {
    width: 100%;
}

.card-content h3 {
    height: 50px;
    font-size: 22px;
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
}

.card-content span {
    font-size: 15px;
    font-weight: 300;
}

.card-content p {
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    margin-top: 1rem;
    height: 54px;
    display: -webkit-box;
    max-width: 235px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.border-card {
    border-bottom: 1px solid var(--dark-grey);
    margin: 3rem 0;
}

@media screen and (min-width: 1160px) {
    .container-section {
        flex-direction: row;
        padding-top: 1.5rem;
        padding-bottom: 6rem;
        background-color: var(--background);
    }

    .card-container {
        max-width: 19rem;
        width: 100%;
        margin-right: 5rem;
        position: relative;
    }

    .card-container:nth-child(3){
        margin-right: 0;
    }

    .card-container:after {
        content: "";
        height: 400px;
        width: 1px;
        background-color: var(--dark-grey);
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: -80px;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

    .card-container:nth-child(3):after {
        display: none;
    }

    .border-card {
        display: none;
    }
}