.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--red);
}

.container-menu__desktop {
    display: none;
}

.container-menu__mobile button {
    padding: 0.875rem 1rem;
    border: none;
    background: var(--grey);
    color: var(--red);
}

.container-menu__mobile button.closed {
    background: var(--red);
    color: var(--white);
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    width: 100%;
    background: var(--grey);
    float: right;
}

@media screen and (min-width: 1277px) {
    .container {
        justify-content: flex-start;
        padding: 0 5rem 0 5rem;
    }

    .container-menu__desktop {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .container-menu__mobile {
        display: none;
    }

    .mobile-menu {
        display: none;
    }
}