.section-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--grey);
    padding: 1rem 0;
}

.section-products h1 {
    font-size: 45px;
    font-weight: 400;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-container {
    position: relative;
    margin-bottom: 3rem;
}

.products-container img {
    max-width: 22rem;
    width: 100%;
}

.product-name {
    position: absolute;
    bottom: 3px;
    left: 0;
    background-color: var(--black-opacity);
    border-top-right-radius: 170px;
    height: 170px;
    width: 180px;
}

.product-name p {
    font-size: 30px;
    color: white;
    text-transform: capitalize;
    text-align: center;
    padding: 3.5rem 3rem 3rem 0.5rem;
}

@media screen and (min-width: 991px) {
    .products {
        flex-direction: row;
    }

    .products-container {
        margin-right: 2.5rem;
    }

    .products-container:nth-child(3) {
        margin-right: 0;
    }
}